# dependencies
node_modules/

# build
dist/
build/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# prettier
.prettier-cache

# eslint
.eslintcache

# stylelint
.stylelintcache

# misc
*.log