#benefits {
  height: 100%;
  padding-bottom: 2rem;
}

.container_benefits {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.benefits_title {
  display: flex;
  flex: 0 0 30%;
  justify-content: center;
  margin-bottom: 2rem;

  & h3 {
    font-family: var(--text-secondary);
    font-size: 1.6rem;
    color: var(--color-text-dark);
  }
}

.benefits_content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.circle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-wrap: balance;
}

.circle-content p {
  width: 250px;
  text-align: center;
  text-wrap: balance;
  font-weight: 700;
  color: var(--color-text-dark);
}

.circle {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.circle1 {
  background: url(../../assets/circle1.png) center center / cover no-repeat;
}

.circle2 {
  background: url(../../assets/circle2.png) center center / cover no-repeat;
}

.circle3 {
  background: url(../../assets/circle3.png) center center / cover no-repeat;
}

.benefits_line-wrapper {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
}

.benefits_line {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
  --gap: 1rem;
  gap: var(--gap);
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.line-group {
  display: flex;
  gap: var(--gap);
}

.line_container {
  display: flex;
  flex-shrink: 0;
  gap: var(--gap);
}

.line_container p {
  white-space: nowrap;
  font-family: var(--text-secondary);
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-text-dark);
}

@media screen and (max-width: 1300px) {
  .benefits_line {
    animation: scroll 20s linear infinite;
  }
}
@media screen and (max-width: 768px) {
  #benefits.section {
    padding-top: 0;
  }

  .benefits_content {
    flex-direction: column;
    gap: 2rem;
  }

  .benefits_line {
    animation: scroll 25s linear infinite;
  }
}
