#hero {
  width: 100%;
  min-height: 55vh;
  background:
    var(--color-hero-gradient),
    url(../../assets/hero-img.webp) center 90% / cover no-repeat;
  background-attachment: fixed;
}

.container_hero {
  display: flex;
  color: var(--color-text-light);
  text-align: center;
  font-weight: 400;
  text-wrap: balance;
  width: 50%;
  margin: 0 auto;
  padding-top: 15vh;
  padding-bottom: 1.2rem;

  & .btn-primary {
    width: 80%;
  }

  & p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1430px) {
  .container_hero {
    width: 70%;
    padding-top: 12vh;
  }
}
@media screen and (max-width: 940px) {
  .container_hero {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container_hero p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .container_hero p {
    font-size: 1rem;
  }

  .container_hero .btn-primary {
    width: auto;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-family: var(--text-primary);
  color: var(--color-text-light);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1.2;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
  }
}

.hero-subtitle {
  font-family: var(--text-secondary);
  color: var(--color-text-accent);
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero-subtitle {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-subtitle {
    font-size: 2rem;
  }
}
