.btn-primary {
  font-family: var(--text-secondary);
  color: var(--color-text-light);
  background-color: var(--color-btn-default);
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-btn-active);
  }
}

.btn-secondary {
  font-family: var(--text-secondary);
  color: var(--color-text-light);
  background-color: transparent;
  border: 1px solid var(--color-text-light);
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-btn-hover);
  }
}

.btn-grid {
  font-family: var(--text-secondary);
  color: var(--color-text-dark);
  background-color: var(--color-btn-grid);
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    color: var(--color-text-light);
    border: 1px solid var(--color-text-light);
    background-color: transparent;
  }
}
